:root {
  // Fonts
  --font-main: 'Roboto', Arial, Helvetica, sans-serif;

  // Spacing
  --spacing-1: 0.5rem;
  --spacing-2: 1rem;
  --spacing-3: 2rem;

  // Colors
  --color-text: #333333;
  --color-bk-header: #f3f4f5;
  --color-bg: #f3f4f5;
  --dull-orange: #e17334;

  // Palette colors
  --dark-green-blue: #114e4e;
  --dirty-blue: #438792;
  --hospital-green: #a2deaf;

  --dried-blood: #420101;
  --rusty-red: #bd1010;
  --tomato: #e95626;

  --slate: #3e5b65;
  --faded-orange: #eab052;
  --light-grey-blue: #a0c0cf;
}
