@use '../common/mixins' as mixins;

:root:has(.create) {
  // fonts
  --font-main: 'Gochi Hand', cursive;
}

.page {
  @include mixins.tablet {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
  }
}