.btn {
  display: inline-block;
  height: 30px;
  padding-inline: 20px;

  background-color: var(--dull-orange);
  color: white;

  font-weight: lighter;
  line-height: 30px;
  text-align: center;

  cursor: pointer;
}

.form {
  &__button {
    &--create {
      @extend .btn;
      border: none;
      outline: none
    }
    &--share {
      @extend .btn;
      text-decoration: none;
    }
  }
}