@use '../components/buttons';

.form {
  &__button {
    &--create {
      @extend .btn;
      border: none;
      outline: none
    }
    &--share {
      @extend .btn;
      text-decoration: none;
    }
  }
}