<form>
  <fieldset>
    <legend>
      <i class="fa-solid fa-brush"></i>
      <h3>Diseña</h3>
      <button><i class="fa-solid fa-chevron-down"></i></button>
    </legend>
    <load src="partials/form/design.html" />
  </fieldset>
  <fieldset>
    <legend>
      <i class="fa-solid fa-pencil"></i>
      <h3>Rellena</h3>
      <button><i class="fa-solid fa-chevron-down"></i></button>
    </legend>
    <load src="partials/form/fill.html" />
  </fieldset>
  <fieldset>
    <legend>
      <i class="fa-solid fa-share"></i>
      <h3>Comparte</h3>
      <button><i class="fa-solid fa-chevron-down"></i></button>
    </legend>
    <load src="partials/form/share.html" />
  </fieldset>
</form>
