<form class="form">
  <ul class="breadcrumbs">
    <li>
      <button class="breadcrumbs__step--selected js_showDesignBtn">
        Diseña
      </button>
    </li>
    <li>
      <button class="breadcrumbs__step js_showFillBtn">Rellena</button>
    </li>
    <li>
      <button class="breadcrumbs__step js_showShareBtn">Comparte</button>
    </li>
  </ul>

  <fieldset class="form__box js_designSection">
    <load src="partials/form/design.html" />
  </fieldset>
  <fieldset class="form__box js_fillSection collapsed">
    <load src="partials/form/fill.html" />
  </fieldset>
  <fieldset class="form__box js_shareSection collapsed">
    <load src="partials/form/share.html" />
  </fieldset>
</form>
