<!-- PREVIEW -->
<section class="preview fancy-border">
  <button class="preview__btn">
    <i class="far fa-trash-alt" aria-hidden="true"></i> Reset
  </button>
  <article class="preview__card fancy-border">
    <div class="preview__header">
      <h2 class="preview__name">Nombre Apellidos</h2>
      <h3 class="preview__job">Front-end developer</h3>
    </div>
    <!-- <img
      class="preview__photo"
      src="./images/monigota.png"
      alt="Foto de la usuaria"
    /> -->
    <div class="preview__photo"></div>

    <nav>
      <a class="preview__icon" href="">
        <!-- title="" -->
        <i class="fas fa-phone"></i>
      </a>
      <a class="preview__icon" href="#">
        <i class="far fa-envelope"></i>
      </a>
      <a class="preview__icon" href="">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="preview__icon" href="">
        <i class="fab fa-github-alt"></i>
      </a>
    </nav>
  </article>
</section>
