<ul class="">
  <li class="form__item">
    <label for="name">Nombre completo</label>
    <input
      class="js_input"
      type="text"
      name="name"
      id="name"
      placeholder="Ej: Sally Jill"
    />
  </li>
  <li class="form__item">
    <label for="job">Puesto</label>
    <input
      class="js_input"
      type="text"
      name="job"
      id="job"
      placeholder="Ej: Front-end unicorn"
    />
  </li>

  <li class="form__item--photo fancy-border bdr-red">
    <label class="form__photolabel" for="photo">Imagen de perfil</label>
    <label for="photo" class="form__photobutton">Añadir imagen</label>

    <input class="hidden" id="photo" type="file" />

    <span class="form__photothumb"></span>
  </li>

  <li class="form__item">
    <label for="email">Email</label>
    <input
      class="js_input"
      type="text"
      name="email"
      id="email"
      placeholder="Ej. sally.hill@email.com"
    />
  </li>
  <li class="form__item">
    <label for="phone">Teléfono</label>
    <input
      class="js_input"
      type="text"
      name="phone"
      id="phone"
      placeholder="Ej. 555-55-55-55"
    />
  </li>
  <li class="form__item">
    <label for="linkedin">Linkedin</label>
    <input
      class="js_input"
      type="text"
      name="linkedin"
      id="linkedin"
      placeholder="Ej. linkedin.com/in/sally-hill"
    />
  </li>
  <li class="form__item">
    <label for="github">Github</label>
    <input
      class="js_input"
      type="text"
      name="github"
      id="github"
      placeholder="Ej. @Sally-Hill"
    />
  </li>
</ul>
