<button class="form__button--create">
  <i class="far fa-address-card" aria-hidden="true"></i>
  Crear tarjeta
</button>

<div class="hidden">
  <p>Tu tarjeta ha sido creada.</p>
  <p>
    Puedes visitar la información en el siguiente enlace:
    <a class="" href=""></a>
  </p>
  <p>
    <a class="form__button--share" href=""
      ><i class="fa-brands fa-bluesky"></i> Compartir en Bluesky</a
    >
  </p>
</div>

<div class="hidden">
  No se pudo crar la tarjeta porque faltan datos por rellenar.
</div>
