@use "./common/reset";
@use "./common/variables";
@use "./common/mixins";
@use "./common/fancy-borders";
@use "./components/buttons";
@use "./components/inputs";
@use "./layout/header";
@use "./layout/footer";
@use "./layout/preview";
@use "./layout/form";
@use "./layout/design";
@use "./layout/fill";
@use "./layout/share";
@use "./pages/create";

.collapsed {
  display: none;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--spacing-1);

  list-style-type: none;

  &__step {
    color: var(--color-bg-light);
    background-color: var(--dull-orange);
    padding-block: var(--spacing-1);
    padding-inline: var(--spacing-2);
    border: none;
    outline: none;

    font-family: var(--font-main);

    /* <https://frontendmasters.com/blog/drawing-css-shapes-using-corner-shape/> */
    border-top-right-radius: var(--spacing-1) 50%;
    border-bottom-right-radius: var(--spacing-1) 50%;
    corner-shape: bevel;

    cursor: pointer;

    &--selected {
      @extend .breadcrumbs__step;
      font-weight: bold;
      outline: solid 1px black;
    }
  }
}
